<ul>
  
    
    
  <div class="rightNav">
  
    <!-- <li><a href="/registration"><i class="fa fa-registered" aria-hidden="true"></i>&nbsp;Registration</a></li> -->
    <!-- <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Login</a></li> -->
    <li><a href="/contactus"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Contact Us</a></li>
    <li><a href="/plans"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Plans</a></li>
    <li><a href="/about"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; About</a></li>
    <li><a class="active" href="/home"><i class="fa fa-home" aria-hidden="true"></i>&nbsp; Home</a></li>
    
    <a href="./home" >  <img src="../assets/images/2.png" width="135px" height="85px"></a>
    
      
			
		</div>
  </ul>
 
  <!-- <h1>Hello World</h1>
  <h2>I'm trying to explore angular</h2>
  {{title}} -->
  
   <!-- <app-home></app-home>
  <app-about></app-about>
  <app-contact></app-contact>
  <app-product></app-product> -->
  
