<footer class="text-center text-white" style="background-color:#073e4b">



  <!-- Grid container -->

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <div class="container pt-4">

    <!-- Section: Social media -->

    <section class="mb-4">

      <!-- Facebook -->

      <a role="button" href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;

      <!-- Twitter -->

      <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;



      <!-- Google -->

      <a href="#" class="fa fa-google"></a>&nbsp;&nbsp;



      <!-- Instagram -->

      <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;



      <!-- Linkedin -->

      <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;

      <!-- utube -->

      <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;

    </section>

    <!-- Section: Social media -->

  </div>

  <!-- Grid container -->



  <!-- Copyright -->

  <div class="text-center" style="background-color: #073e4b;">

    © 2022 Copyright:

  </div>

  <!-- Copyright -->

</footer>