<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pricing Table</title>
  <link rel="stylesheet" href="plans.component.css">
</head>

<body>

  <div class="Wrapper">   
    <div class="single-price">
      <h1>Prepaid Basic</h1>
      <div class="price">
        <h2>209/-</h2>
      </div>
      <div class="deals">
        <h4>1.5Gb / day</h4>
        <h4>For 28 days</h4>
        <h4>Most affordable plan for most of the users</h4>
        
      </div>
      <a href="/payment">Select</a>
      
    </div>
    <div class="single-price">
      <h1>Prepaid Standard</h1>
      <div class="price">
        <h2>695/-</h2>
      </div>
      <div class="deals">
        <h4>2Gb / day</h4>
        <h4>For 84 days</h4>
        <h4>Binge-watch web series and connect on social media</h4>
      </div>
      <a href="/payment">Select</a>
    </div>
    <div class="single-price">
      <h1>Prepaid Premium</h1>
      <div class="price">
        <h2>1885/-</h2>
      </div>
      <div class="deals">
        <h4>2Gb / day</h4>
        <h4>For 365 days</h4>
        <h4>Enjoy offers and FREE bundled OTT apps on selected plans</h4>
      </div>
      <a href="/payment">Select</a>
    </div>
  </div>




  <div class="single-price">
    <h1>Postpaid Basic</h1>
    <div class="price">
      <h2>399/-</h2>
    </div>
    <div class="deals">
      <h4>75GB Data</h4>
      <h4>200 GB Data Rollover</h4>
      <h4>Unlimited voice and messages</h4>
      
    </div>
    <a href="/payment">Select</a>
  </div>
  <div class="single-price">
    <h1>Postpaid Standard</h1>
    <div class="price">
      <h2>999/-</h2>
    </div>
    <div class="deals">
       <h4>200 GB Data</h4>
        <h4>200 GB Data Rollover</h4>
        <h4>Netflix, Amazon Prime+ Hotstar subscription</h4>
    </div>
    <a href="/payment">Select</a>

  </div>
  <div class="single-price">
    <h1>Postpaid Premium</h1>
    <div class="price">
      <h2>1499/-</h2>
    </div>
    <div class="deals">
      <h4>300 GB Data</h4>
      <h4>500 GB Data Rollover</h4>
      <h4>Unlimited Data and Voice in USA and UAE</h4>
    </div>
    <a href="/payment">Select</a>

  </div>
  <div class="single-price">
    <h1>Dongle Basic</h1>
    <div class="price">
      <h2>209/-</h2>
    </div>
    <div class="deals">
      <h4>Hello Tunes</h4>
      <h4>150/- Discount on FASTag</h4>
      <h4>Saavn Music Subscription</h4>
    </div>
    <a href="/payment">Select</a>

  </div>
  <div class="single-price">
    <h1>Dongle Standard</h1>
    <div class="price">
      <h2>666/-</h2>
    </div>
    <div class="deals">
      <h4>Free membership for music apps</h4>
        <h4>High speed data upto 112 GB</h4>
        <h4>Hotstar VIP Annual Membership</h4>
    </div>
    <a href="/payment">Select</a>
  </div>
  <div class="single-price">
    <h1>Dongle Premium</h1>
    <div class="price">
      <h2>1950/-</h2>
    </div>
    <div class="deals">
      <h4>Regular VoizFonica Benefits</h4>
        <h4>2GB of data Per day</h4>
        <h4>Free Subscription on Disney</h4>
    </div>
    <a href="/payment">Select</a>
  </div>
<br><br>
 
  
  <!-- <div class="single-price">
    
    <h1>Dongle Premium</h1>
    <div class="price">
      <h2>1950/-</h2>
    </div>
    <div class="deals">
      <h4>Regular VoizFonica Benefits</h4>
        <h4>2GB of data Per day</h4>
        <h4>Free Subscription on Disney</h4>
    </div>
    <a href="/payment">Select</a>

  </div>
  <div class="single-price">
    <h1>Dongle Premium</h1>
    <div class="price">
      <h2>1950/-</h2>
    </div>
    <div class="deals">
      <h4>Regular VoizFonica Benefits</h4>
        <h4>2GB of data Per day</h4>
        <h4>Free Subscription on Disney</h4>
    </div>
    <a href="/payment">Select</a>
    

  </div> -->

  <!-- <br>
  <h1 style="color:#073e4b"><b>Switch to VoizFonica</b></h1>
  <div class="middle">
  <div class="single-price">  
   
    <div class="deals">
      <h4><b>Wait for the sim to come home</b></h4>
        <h4>Free sim home delivery</h4>       
        <img src="/assets/d6.jpg" height="100px" width="120px">
    </div>
    <a href="/payment">Select</a>

  </div>
  <div class="single-price">
    <div class="deals">
      <h4><b>Try before you buy offer on VoizFonia</b></h4>
        <h4>30-day FREE Trial</h4>
       
        <img src="/assets/d8.jpg" height="100px" width="120px">
    </div>
    <a href="/payment">Select</a>
  </div>
</div> -->


<head>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400,600i&display=swap" rel="stylesheet">
</head>
<!-- <header> <a href="https://codepen.io/LIMESTA/pen/VwZNmJE">Switch to VoizFonia </a> </header> -->
<div class="infocardContainer">
  <div id="main">
    <img src="../assets/images/d6.jpg">
  </div>
  <div id="textbois">
    <h2>Wait for your sim
      <br> to come home</h2>
    <h4>FREE Sim Home Delivery</h4>
    <!-- <a href="mailto:limecicila@gmail.com">limecicila@gmail.com</a> -->
    <!-- <div id="hotlinks">
      <a href="https://codepen.io/LIMESTA"><img id="codepenio" src="/assets/d6.jpg" target="_blank">
      </a>
      <a href="https://codepen.io/LIMESTA">
        <img id="codepenio" src="/assets/d7.jpg" target="_blank">
      </a>
      <a href="https://codepen.io/LIMESTA">
        <img id="codepenio" src="/assets/d6.jpg" target="_blank">
      </a>
    </div> -->
  </div>
</div>



</body>

</html>